<div class="card-card-body p-4 rounded-0 bg-dark text-white">
  <h3>Agrega una tarea</h3>
  <form action="/tasks/add" method="POST">

    <div>
      <label for="title">Escribe un titulo</label>
      <input
        type="text"
        name="title"
        placeholder="Titulo"
        id="title"
        class="form-control rounded-0 bg-dark text-white"
      />
    </div>

    <div>
      <label for="description">Descripcion</label>
      <textarea
        name="description"
        placeholder="Descripcion"
        id="description"
        class="form-control rounded-0 bg-dark text-white"
      ></textarea>
    </div>

    <button class="btn btn-primary btn-sm mt-2">Agregar</button>

  </form>
</div>